{% extends "inicio/encabezado.html" %}

{% block titulo %} Eliminar {%endblock%}

{% block imagen %}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{% endblock %}

{% block encabezado %}
	<!--Encabezdo -->
	<div class="page-header">
		<div class="page-title">
			<h3>Eliminar Comentario</h3>
		</div>	
	</div>
	<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
    <form method="POST">
        {% csrf_token %}
        <!-- Alerta -->
        <div class="callout callout-danger fade in">
            <h5> Eliminando Comentario </h5>
            <p> Estas seguro de querer <strong>Eliminar</strong> el comentario seleccionado ?.</p>
        </div>
        <!--/Alerta -->
        <button type="submit" class="btn btn-danger">Si</button>
        <a href="{%url 'Comentarios'%}" class="btn btn-primary">Cancelar</a>
    </form>
{% endblock %}