{% extends "inicio/encabezado.html" %}

{% block titulo %} Principal {%endblock%}

{% block imagen %}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{% endblock %}

{% block subtitulos %}
	Principal <span>DSM</span>   
{%endblock%}

{% block encabezado %}
	<!--Encabezdo -->
	<div class="page-header">
		<div class="page-title">
			<h3>Alumnos
			<small>Lista de Alumnos 9A</small></h3>
		</div>	
	</div>
	<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
<!-- Tabla de alumnos -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th> Foto </th>
			<th> Matricula </th>
			<th> Nombre </th>
			<th> Carrera </th>
			<th> Turno </th>
		</tr>
	</thead>
	<tbody>
		
	{% for alumno in alumnos %}
		<tr>
			<td class="text-center">
				<img src="{{alumno.imagen.url}}" alt="" class="img-media">
			</td>
			<td class="text-semibold"> {{alumno.matricula}}</td>
			<td class="muted"> {{alumno.nombre}} </td>
			<td class="muted"> {{alumno.carrera}}</td>
			<td class="muted"> {{alumno.turno}}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<!-- Fin de la tabla-->

{%endblock%}
