{% extends "inicio/encabezado.html" %}

{% block titulo %} Comentarios de contacto {%endblock%}

{% block imagen %}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{% endblock %}

{% block subtitulos %}
	Principal <span>DSM</span>   
{%endblock%}

{% block encabezado %}
	<!--Encabezdo -->
	<div class="page-header">
		<div class="page-title">
			<h3>Comentarios
			<small>Lista de Comentarios</small></h3>
		</div>	
	</div>
	<!-- /Encabezado-->
{%endblock%}

{% block contenido %}
<form class="form-horizontal" action="{%url 'Busqueda'%}" method="POST" role="form">
	{% csrf_token %}
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="form-group">
				<label class="col-sm-2 control-label text-right">Nombre:</label>
				<div class="col-sm-10">
					<input name="consulta" type="text" class="form-control">
				</div>
			</div>
			
			<div class="form-actions text-right">
				<input type="submit" value="Enviar" class="btn btn-primary">
			</div>

		</div>
	</div>
</form>
<!-- Tabla de comentarios -->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th> Usuario </th>
			<th> Mensaje </th>
			<th> </th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
        {% for comentario in comentarios %}
            <tr>
                <td class="text-semibold"> {{comentario.usuario}}</td>
                <td class="muted"> {{comentario.mensaje}} </td>
                <td class="text-center"> 
					<a href="{%url 'ConsultaIndividual' comentario.id%}">Editar</a>	
				</td>
                <td class="text-center"> 
					<a href="{%url 'Eliminar' comentario.id%}">Eliminar</a>
				</td>
            </tr>
        {% endfor %}
        </tbody>
</table>
<!-- Fin de la tabla comentarios-->

{%endblock%}
