<html>
    <body>
        <form method="GET">
            nombre:
            <input type="text" name="nombre"/>
            <input type="submit" name="buscar" />
        </form>
        <h2 id="resultado"></h2>
        <!-- Busqueda -->
        <script type="application/javascript">
           var busqueda = new URLSearchParams(document.location.search);
           if (busqueda.has("nombre")){
               document.getElementById("resultado").innerHTML="Resultado: " + busqueda.get("nombre")
           }
        </script>
    </body>
</html>
